# Ignorar todos los archivos .aux, .bbl, .blg, .log, .out y .synctex.gz generados por LaTeX
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz

# Ignorar todos los archivos de datos descargados o generados
# Ignorar archivos de datos en formato CSV
*.csv
# Ignorar archivos de datos en formato TSV
*.tsv
# Ignorar archivos de texto
*.txt
# Ignorar diarios de desarrolladores
*.md

# Ignorar carpetas generadas
# Ignorar carpeta automática de Py_libs
Py_libs/
# Ignorar los logs individuales de cada desarrollador
logs/
# Ignorar la carpeta de descarga de datos
data/
# Ignorar la carpeta de resultados
results/
# Ignorar la cache de python
__pycache__/
# zip
*.zip
